.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: calc(var(--nav-width) + var(--gap) * 2);
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height: var(--header-height);
}

.nav a {
    display: block;
}

.logo,
#menu {
    display: flex;
    margin: auto var(--gap);
}

.logo {
    flex-wrap: inherit;
}

.logo a {
    font-size: 24px;
    font-weight: 700;
}

.logo a img {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, -10%);
    border-radius: 6px;
    margin-inline-end: 8px;
}

#theme-toggle svg {
    height: 18px;
}

button#theme-toggle {
    font-size: 26px;
    margin: auto 4px;
}

body.dark #moon {
    vertical-align: middle;
    display: none;
}

body:not(.dark) #sun {
    display: none;
}

#menu {
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
    z-index: 9;

    @media only screen and (max-width: 750px) {
        position: relative;
        top: 2rem;
        right: 0;
        z-index: 5;
        visibility: hidden;
        opacity: 0;
        padding: 0;
        max-height: 0;
        width: 100%;
        background-color: var(--theme);
        border-top: solid 2px var(--primary);
        border-bottom: solid 2px var(--primary);
        transition: opacity 0.25s, max-height 0.15s linear;
    }
}

#menu li + li {
    margin-inline-start: var(--gap);
}

#menu a {
    font-size: 16px;
}

#menu .active {
    font-weight: 600;
    border-bottom:2px solid var(--hl);   
}

#menu a:hover {
    color: var(--secondary);
}

.logo-switches {
    flex-wrap: inherit;
}

#menu li {
    @media only screen and (max-width: 750px) {
        float: none !important;
        text-align: center;

        a, span {
            line-height: 5rem;
        }
    }
}

#menu li a {
    @media only screen and (max-width: 750px) {
        position: relative;
        top: 2rem;
        right: 0;
        z-index: 5;
        visibility: hidden;
        opacity: 0;
        padding: 0;
        max-height: 0;
        width: 100%;
        background-color: var(--theme);
        border-top: solid 2px var(--primary);
        border-bottom: solid 2px var(--primary);
        transition: opacity 0.25s, max-height 0.15s linear;
    }
}



.separator {
    @media only screen and (max-width: 750px) {
        display: none;
    }
}

.menu-separator {
    @media only screen and (max-width:750px) {
        border-top: 2px solid var(--primary);
        margin: 0 8rem;
        span {
            display: none;
        }
    }
}

.menu-button {
    display: none;
    @media only screen and (max-width: 768px) {
      position: relative;
      display: block;
      font-size: 2.4rem;
      font-weight: 400;
    }
  
}