:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: rgb(255, 255, 255);
    --entry: #e4e3e9;
    --primary: #534c84;
    --secondary: #5d90ae;
    --tertiary: #dcd6dd;
    --content: #676097;
    --hljs-bg: #534c84;
    --code-bg: rgb(245, 245, 245);
    --border: rgb(238, 238, 238);
    --hl: #e4747d;

}

.dark {
    --theme: #38354e;
    --entry: rgb(86, 86, 117);
    --primary: #e9e0d8;
    --secondary: #8cafce;
    --tertiary: #5c5876;
    --content: rgb(196, 196, 197);
    --hljs-bg: #5c5876;
    --code-bg: #5c5876;
    --border: #625c86;
    --hl:#e4747d;
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}
