:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: rgb(255, 255, 255);
    --entry: #e4e3e9;
    --primary: #534c84;
    --secondary: #5d90ae;
    --tertiary: #dcd6dd;
    --content: #7b73ac;
    --hljs-bg: #534c84;
    --code-bg: rgb(255, 255, 255);
    --border: rgb(238, 238, 238);
    --hl: #ebb5c2;
    --overlay: var(--primary);

}

.dark {
    --theme: #38354e;
    --entry: rgb(86, 86, 117);
    --primary: #e9e0d8;
    --secondary: #9abede;
    --tertiary: #69638c;
    --content: rgb(190, 190, 190);
    --hljs-bg: #dddbea;
    --code-bg: #4e496f;
    --border: #625c86;
    --hl:#de9cab;
    --overlay: black;
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}
